.position-relative, .h1, .h2, .button-button {
  position: relative; }

.position-absolute, .badge {
  position: absolute; }

.text-center, .h1, .button-button {
  text-align: center; }

.text-hidden {
  font-size: 0;
  text-indent: -99999;
  width: 0;
  height: 0; }

.text-decoration-none, a, .button-button {
  text-decoration: none !important; }

.text-upper, .h1 {
  text-transform: uppercase; }

.text-blue, .badge {
  color: #073C5E; }

.text-orange, .sup {
  color: #F47621; }

.text-white, .h1, .h2 {
  color: #ffffff; }

.background-orange, .badge {
  background-color: #F47621; }

.background-teal {
  background-color: #13AFB5; }

.background-white {
  background-color: #ffffff; }

.push-end {
  margin-left: auto; }

.h1, .h2 {
  border-width: 3px;
  border-style: solid;
  border-color: #ffffff;
  padding: 10px;
  background-color: rgba(19, 175, 181, 0.5);
  position: relative;
  z-index: 9999; }
  @media screen and (min-width: 768px) {
    .h1, .h2 {
      font-size: 95px;
      padding: 20px; } }
  @media screen and (min-width: 1024px) {
    .h1, .h2 {
      padding: 40px; } }

.h1 {
  margin: 0;
  font-size: 50px; }
  @media screen and (min-width: 599px) {
    .h1 {
      font-size: 60px; } }
  @media screen and (min-width: 768px) {
    .h1 {
      font-size: 95px; } }

.h2 {
  margin: -3px 0 0;
  font-size: 20px; }
  @media screen and (min-width: 1024px) {
    .h2 {
      padding-right: 120px; } }

@media screen and (min-width: 768px) {
  .about {
    margin-right: 52px;
    margin-left: auto; } }

@media screen and (min-width: 1024px) {
  .about {
    margin-right: 120px;
    margin-left: auto; } }

body {
  font-size: 20px;
  position: relative;
  padding-bottom: 40px;
  overflow-x: hidden; }

main {
  z-index: 9999; }

.header {
  background-color: #13AFB5;
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-blend-mode: multiply;
  padding: 60px 0 120px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
  -moz-clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
  -ms-clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
  -o-clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
  position: relative; }
  @media screen and (min-width: 768px) {
    .header {
      padding: 160px 0 200px; } }

.info .container {
  margin-bottom: 100px; }

.badge {
  font-size: 30px;
  line-height: .875;
  width: 64px;
  height: 64px;
  border-radius: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  right: -5%;
  top: 50%;
  z-index: 10; }
  @media screen and (min-width: 499px) {
    .badge {
      width: 72px;
      height: 72px;
      right: -15%;
      top: 50%; } }
  @media screen and (min-width: 768px) {
    .badge {
      font-size: 40px;
      width: 96px;
      height: 96px;
      right: -20%;
      top: 45%; } }
  @media screen and (min-width: 1024px) {
    .badge {
      font-size: 50px;
      width: 128px;
      height: 128px;
      right: 5%;
      top: 50%; } }

.button-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (min-width: 768px) {
    .button-row {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-pack: distribute;
          justify-content: space-around; } }

.button-button {
  background: #ffffff;
  border-width: 3px;
  border-style: solid;
  border-color: #073C5E;
  padding: 10px 0;
  margin: 40px 0 0;
  -webkit-transition: 250ms ease-out all;
  transition: 250ms ease-out all; }
  .button-button:hover, .button-button:active {
    background-color: #F47621;
    color: #ffffff;
    border-color: #F47621; }
  @media screen and (min-width: 768px) {
    .button-button {
      padding: 10px; } }
  @media screen and (min-width: 1024px) {
    .button-button {
      padding: 20px; } }

.light-blue-box {
  background-color: rgba(7, 60, 94, 0.15);
  position: absolute;
  width: 75%;
  height: 250px;
  bottom: 0;
  left: 0; }
  @media screen and (min-width: 768px) {
    .light-blue-box {
      height: 350px; } }
  @media screen and (min-width: 1024px) {
    .light-blue-box {
      height: 350px; } }

.white-plusses {
  width: 200px;
  height: 312px;
  position: absolute;
  top: 40px;
  left: -168px;
  background-color: transparent;
  background-repeat: repeat;
  background-image: url("../images/white-plusses.svg");
  z-index: 10; }
  @media screen and (min-width: 1024px) {
    .white-plusses {
      top: 60px;
      left: -83px; } }

.orange-plusses {
  width: 200px;
  height: 312px;
  position: absolute;
  top: 40px;
  right: -168px;
  background-color: transparent;
  background-repeat: repeat;
  background-image: url("../images/orange-plusses.svg");
  z-index: 10; }
  @media screen and (min-width: 768px) {
    .orange-plusses {
      top: 350px; } }
  @media screen and (min-width: 1024px) {
    .orange-plusses {
      top: 480px;
      right: -160px; } }
  @media screen and (min-width: 1280px) {
    .orange-plusses {
      right: -100px; } }

.orange-arrow {
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 200px;
  top: 228px;
  width: 166px;
  height: 86px;
  background-image: url("../images/orange-arrow.svg");
  z-index: 10; }
  @media screen and (min-width: 499px) {
    .orange-arrow {
      left: 40px;
      top: 70px; } }
  @media screen and (min-width: 1024px) {
    .orange-arrow {
      left: 40px;
      top: 220px; } }

.laptop {
  position: absolute;
  bottom: 20px;
  left: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 175px;
  height: 124px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/laptop.svg");
  z-index: 10; }
  @media screen and (min-width: 499px) {
    .laptop {
      top: 345px;
      bottom: unset;
      left: 130px; } }
  @media screen and (min-width: 1024px) {
    .laptop {
      top: 445px;
      left: 200px; } }
/*# sourceMappingURL=styles.css.map */