// variables
$blue: #073C5E;
$orange: #F47621;
$teal: #13AFB5;
$white: #ffffff;

$rem: 20px;
$spacer: 20px;

$zindex: 10;

// shared rules
.position-relative {
	position: relative;
}
.position-absolute {
	position: absolute;
}
.text-center {
	text-align: center;
}
.text-hidden {
	font-size: 0;
	text-indent: -99999;
	width: 0; height: 0;
}
.text-decoration-none {
	text-decoration: none!important;
}
.text-upper {
	text-transform: uppercase;
}
.text-blue {
	color: $blue;
}
.text-orange {
	color: $orange;
}
.text-white {
	color: $white;
}
.background-orange {
	background-color: $orange;
}
.background-teal {
	background-color: $teal;
}
.background-white {
	background-color: $white;
}
.push-end {
	margin-left: auto;
}

// mixins

$transition-base: 250ms ease-out all;
@mixin border( $width, $style, $color){
	border-width: $width;
	border-style: $style;
	border-color: $color;
}
@mixin hover( $bgc, $c, $bc ) {
	@extend .text-decoration-none;
	transition: $transition-base;
	&:hover, &:active {
		background-color: $bgc;
		color: $c;
		border-color: $bc;
	}
}

//generic


a {
	@extend .text-decoration-none;
}
.h1, .h2 {
	@extend .position-relative;
	@extend .text-white;
	@include border(3px, solid, $white);
	padding: $spacer*.5; 
	background-color: fade-out($teal, .5);
	position: relative;
	z-index: 9999;
	@media screen and (min-width: 768px){
		font-size: $rem * 4.75;
		padding: $spacer; 
	}
	@media screen and (min-width: 1024px){
		padding: $spacer*2; 
	}
}
.h1 {
	@extend .text-upper;
	@extend .text-center;
	margin: 0;
	font-size: $rem * 2.5;
	@media screen and (min-width: 599px){
		font-size: $rem * 3;
	} 
	@media screen and (min-width: 768px){
		font-size: $rem * 4.75;
	}
}
.h2 {
	
	margin: -3px 0 0;
	font-size: $rem;
	@media screen and ( min-width: 1024px ){
		padding-right: $spacer*6;
	}
}
.about {

	@media screen and (min-width: 768px){
		// @extend .push-end;
		margin-right: 52px;
		margin-left: auto;
	}
	@media screen and (min-width: 1024px){
		// @extend .push-end;
		margin-right: 120px;
		margin-left: auto;
	}
}
.sup {
	@extend .text-orange;
}
html, body {
	overflow-x: hidden;
}
body {
	font-size: $rem;
	position: relative;
	padding-bottom: 40px;
	
}
main {
	z-index: 9999;
}
.header {
	background-color: $teal;
	background-image: url('../images/header.jpg');
	background-size: cover;
	background-blend-mode: multiply;
	padding: $spacer*3 0 $spacer*6;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
	-moz-clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
	-ms-clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
	-o-clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
	clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
	position: relative;
	@media screen and (min-width: 768px){
		padding: $spacer*8 0 $spacer*10;
	}
}
.info {
	.container {
		margin-bottom: 100px;
	}
}
.badge {
	@extend .background-orange;
	@extend .text-blue;
	@extend .position-absolute;
	font-size: $rem*1.5;
	line-height: .875;
	width: 64px; height: 64px;
	border-radius: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	right: -5%; top: 50%;
	z-index: 10;
	@media screen and (min-width: 499px){
		width: 72px; height: 72px;
		right: -15%; top: 50%;
	}
	@media screen and (min-width: 768px){
		font-size: $rem*2;
		width: 96px; height: 96px;
		right: -20%; top: 45%;
	}
	@media screen and (min-width: 1024px){
		font-size: $rem*2.5;
		width: 128px; height: 128px;
		right: 5%; top: 50%;
	}
}
.button {	
	&-row {
		display: flex;
		flex-direction: column;
		@media screen and (min-width: 768px){
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			align-items: flex-start;
			align-content: flex-start;
		}
		@media screen and (min-width: 1024px){
			
		}
	}
	&-button {
		margin: $spacer $spacer 0;
		@media screen and (min-width: 768px){
			&:last-of-type {
				margin: $spacer auto;
				width: 442px; height: 99px;
			}
		}
		@media screen and (min-width: 1280px){
			height: 99px; width: auto;
			margin: $spacer auto;
		}
	}
	&-img {
		display: block;
		width: 100%; height: auto;
	}
}
.light-blue-box {
	background-color: fade-out($blue, .85);
	position: absolute;
	width: 75%; height: 250px;
	bottom: 0; left: 0;
	@media screen and ( min-width: 499px ){

	}
	@media screen and ( min-width: 599px ){
		
	}
	@media screen and ( min-width: 768px ){
		height: 400px;
	}
	@media screen and ( min-width: 1024px ){
		
	}
}
.white-plusses {
	width: 200px; height: 312px;
	position: absolute;
	top: 40px; left: -168px;
	background-color: transparent;
	background-repeat: repeat;
	background-image: url('../images/white-plusses.svg');
	z-index: 10;
	@media screen and ( min-width: 499px ){
		
	}
	@media screen and ( min-width: 599px ){
		
	}
	@media screen and ( min-width: 768px ){
		
	}
	@media screen and ( min-width: 1024px ){
		top: 60px; left: -83px;
	}
	@media screen and ( min-width: 1280px ){
		
	}
}
.orange-plusses {
	width: 200px; height: 312px;
	position: absolute;
	top: 40px; right: -168px;
	background-color: transparent;
	background-repeat: repeat;
	background-image: url('../images/orange-plusses.svg');
	z-index: 10;
	@media screen and ( min-width: 499px ){
		
	}
	@media screen and ( min-width: 599px ){
		
	}
	@media screen and ( min-width: 768px ){
		top: 350px;
	}
	@media screen and ( min-width: 1024px ){
		top: 400px; right: -100px;
	}
	@media screen and ( min-width: 1280px ){
		right: -100px;
	}
}
.orange-arrow {
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	left: 200px; top: 228px;
	width: 166px; height: 86px;
	background-image: url('../images/orange-arrow.svg');
	z-index: 10;
	@media screen and ( min-width: 499px ){
		left: 40px; top: 70px;
	}
	@media screen and ( min-width: 599px ){
		
	}
	@media screen and ( min-width: 768px ){
		
	}
	@media screen and ( min-width: 1024px ){
		left: 40px; top: 220px;
	}
	@media screen and ( min-width: 1280px ){
		
	}
	@media screen and ( min-width: 1280px ){
		
	}
}
.laptop {
	position: absolute;
	bottom: 20px; left: 100%;
	transform: translateX(-50%);
	width: 175px; height: 124px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('../images/laptop.svg');
	z-index: 10;
	@media screen and ( min-width: 499px ){
		top: 345px; bottom: unset; left: 130px;
	}
	@media screen and ( min-width: 599px ){
		
	}
	@media screen and ( min-width: 768px ){
		
	}
	@media screen and ( min-width: 1024px ){
		top: 445px; left: 200px;
	}
	@media screen and ( min-width: 1280px ){
		left: 250px;	
	}
}
.watch {
	background-image: url('../images/watch.svg');
	width: 59px; height: 93px;
	position: absolute;
	top: 220px; left: 20px;
	z-index: 10;
	@media screen and ( min-width: 375px ){
		top: 240px; left: 60px;
	}
	@media screen and ( min-width: 768px ){
		top: 480px; left: 660px;
	}
	@media screen and ( min-width: 1024px ){
		top: 500px; left: 760px;
	}
	@media screen and ( min-width: 1280px ){
		top: 550px; left: 1050px;
	}
}