// variables
$blue: #073C5E;
$orange: #F47621;
$teal: #13AFB5;
$white: #ffffff;

$rem: 20px;
$spacer: 20px;

// shared rules
.position-relative {
	position: relative;
}
.position-absolute {
	position: absolute;
}
.text-center {
	text-align: center;
}
.text-hidden {
	font-size: 0;
	text-indent: -99999;
	width: 0; height: 0;
}
.text-decoration-none {
	text-decoration: none!important;
}
.text-upper {
	text-transform: uppercase;
}
.text-blue {
	color: $blue;
}
.text-orange {
	color: $orange;
}
.text-white {
	color: $white;
}

.background-orange {
	background-color: $orange;
}
.background-teal {
	background-color: $teal;
}
.background-white {
	background-color: $white;
}
.push-end {
	margin-left: auto;
}

// mixins

$transition-base: 250ms ease-out all;
@mixin border( $width, $style, $color){
	border-width: $width;
	border-style: $style;
	border-color: $color;
}
@mixin hover( $bgc, $c, $bc ) {
	@extend .text-decoration-none;
	transition: $transition-base;
	&:hover, &:active {
		background-color: $bgc;
		color: $c;
		border-color: $bc;
	}
}

//generic


a {
	@extend .text-decoration-none;
}
.h1, .h2 {
	@extend .position-relative;
	@extend .text-white;
	@include border(3px, solid, $white);
	padding: $spacer*.5; 
	background-color: fade-out($teal, .5);
	@media screen and (min-width: 768px){
		font-size: $rem * 4.75;
		padding: $spacer; 
	}
	@media screen and (min-width: 1024px){
		padding: $spacer*2; 
	}
}
.h1 {
	@extend .text-upper;
	@extend .text-center;
	margin: 0;
	font-size: $rem * 2.5;
	@media screen and (min-width: 599px){
		font-size: $rem * 3;
	} 
	@media screen and (min-width: 768px){
		font-size: $rem * 4.75;
	}
}
.h2 {
	
	margin: -3px 0 0;
	font-size: $rem;
	@media screen and ( min-width: 1024px ){
		padding-right: $spacer*6;
	}
}
.about {

	@media screen and (min-width: 768px){
		// @extend .push-end;
		margin-right: 52px;
		margin-left: auto;
	}
	@media screen and (min-width: 1024px){
		// @extend .push-end;
		margin-right: 120px;
		margin-left: auto;
	}
}
.sup {
	@extend .text-orange;
}
body {
	font-size: $rem;
	position: relative;
	padding-bottom: 40px;
}
main {
	
}
.header {
	background-color: $teal;
	background-image: url('../images/header.jpg');
	background-size: cover;
	background-blend-mode: multiply;
	padding: $spacer*3 0 $spacer*6;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
	-moz-clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
	-ms-clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
	-o-clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
	clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
	@media screen and (min-width: 768px){
		padding: $spacer*8 0 $spacer*10;
	}
}
.info {
	.container {
		margin-bottom: 100px;
	}
}
.badge {
	@extend .background-orange;
	@extend .text-blue;
	@extend .position-absolute;
	font-size: $rem*1.5;
	line-height: .875;
	width: 64px; height: 64px;
	border-radius: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	right: -5%; top: 50%;
	z-index: 10;
	@media screen and (min-width: 499px){
		width: 72px; height: 72px;
		right: -15%; top: 50%;
	}
	@media screen and (min-width: 768px){
		font-size: $rem*2;
		width: 96px; height: 96px;
		right: -20%; top: 45%;
	}
	@media screen and (min-width: 1024px){
		font-size: $rem*2.5;
		width: 128px; height: 128px;
		right: 5%; top: 50%;
	}
}
.button {	
	&-row {
		display: flex;
		flex-direction: column;
		@media screen and (min-width: 768px){
			flex-direction: row;
			justify-content: space-around;
		}
		@media screen and (min-width: 1024px){
			
		}
	}
	&-button {
		@extend .position-relative;
		background: $white;
		@include border(3px, solid, $blue);
		@extend .text-center;
		padding: $spacer*.5 0; margin: $spacer*2 0 0;
		@include hover($orange, $white, $orange);
		@media screen and (min-width: 768px){
			padding: $spacer*.5;	
		}
		@media screen and (min-width: 1024px){
			padding: $spacer;	
		}
	}
}
.skew {
	position: absolute;
	&-bottom-blue, &-bottom-orange {
		transform: skew(30deg, 0);
	}
	&-bottom-blue {
		background-color: $blue;
		width: calc( 100% + 8px );
		.h1 & {
			bottom: -33px; left: 4px;
			height: 30px;
		}
		.h2 & {
			height: 18px;
			bottom: -21px; left: 4px;
			width: calc( 100% + 4px );
		}
	}
	&-bottom-orange {
		background-color: $orange;
		bottom: -19px; left: 1px;
		width: calc( 100% + 7px ); height: 16px;
		@media (-webkit-min-device-pixel-ration:2){
			width: calc( 100% + 4px )
		}
	}
	&-right-side-white, &-right-side-blue {
		transform: skew(0, 60deg);
	} 
	&-right-side-white {
		background-color: $white;
		right: -23px; top: 14px;
		.h1 & {
			right: -21px; top: 13px;
			width: 18px; height: calc(100% + 5px);
		}
		.h2 & {
			width: 11px; height: calc(100% + 6px);
			right: -13px; top: 6px;
		}
	}
	&-right-side-blue {
		background-color: $blue;
		right: -12px; top: 5px;
		height: calc(100% + 6px);
		width: 9px;
	}
	
	
}
.light-blue-box {
	background-color: fade-out($blue, .85);
	position: absolute;
	width: 75%; height: 250px;
	bottom: 0; left: 0;
	@media screen and ( min-width: 499px ){

	}
	@media screen and ( min-width: 599px ){
		
	}
	@media screen and ( min-width: 768px ){
		height: 350px;
	}
	@media screen and ( min-width: 1024px ){
		height: 350px;
	}
}