.position-relative, .h1, .h2, .button-button {
  position: relative; }

.position-absolute, .badge {
  position: absolute; }

.text-center, .h1, .button-button {
  text-align: center; }

.text-hidden {
  font-size: 0;
  text-indent: -99999;
  width: 0;
  height: 0; }

.text-decoration-none, a, .button-button {
  text-decoration: none !important; }

.text-upper, .h1 {
  text-transform: uppercase; }

.text-blue, .badge {
  color: #073C5E; }

.text-orange, .sup {
  color: #F47621; }

.text-white, .h1, .h2 {
  color: #ffffff; }

.background-orange, .badge {
  background-color: #F47621; }

.background-teal {
  background-color: #13AFB5; }

.background-white {
  background-color: #ffffff; }

.push-end {
  margin-left: auto; }

.h1, .h2 {
  border-width: 3px;
  border-style: solid;
  border-color: #ffffff;
  padding: 10px;
  background-color: rgba(19, 175, 181, 0.5); }
  @media screen and (min-width: 768px) {
    .h1, .h2 {
      font-size: 95px;
      padding: 20px; } }
  @media screen and (min-width: 1024px) {
    .h1, .h2 {
      padding: 40px; } }

.h1 {
  margin: 0;
  font-size: 50px; }
  @media screen and (min-width: 599px) {
    .h1 {
      font-size: 60px; } }
  @media screen and (min-width: 768px) {
    .h1 {
      font-size: 95px; } }

.h2 {
  margin: -3px 0 0;
  font-size: 20px; }
  @media screen and (min-width: 1024px) {
    .h2 {
      padding-right: 120px; } }

@media screen and (min-width: 768px) {
  .about {
    margin-right: 52px;
    margin-left: auto; } }

@media screen and (min-width: 1024px) {
  .about {
    margin-right: 120px;
    margin-left: auto; } }

body {
  font-size: 20px;
  position: relative;
  padding-bottom: 40px; }

.header {
  background-color: #13AFB5;
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-blend-mode: multiply;
  padding: 60px 0 120px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
  -moz-clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
  -ms-clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
  -o-clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%); }
  @media screen and (min-width: 768px) {
    .header {
      padding: 160px 0 200px; } }

.info .container {
  margin-bottom: 100px; }

.badge {
  font-size: 30px;
  line-height: .875;
  width: 64px;
  height: 64px;
  border-radius: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  right: -5%;
  top: 50%;
  z-index: 10; }
  @media screen and (min-width: 499px) {
    .badge {
      width: 72px;
      height: 72px;
      right: -15%;
      top: 50%; } }
  @media screen and (min-width: 768px) {
    .badge {
      font-size: 40px;
      width: 96px;
      height: 96px;
      right: -20%;
      top: 45%; } }
  @media screen and (min-width: 1024px) {
    .badge {
      font-size: 50px;
      width: 128px;
      height: 128px;
      right: 5%;
      top: 50%; } }

.button-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (min-width: 768px) {
    .button-row {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-pack: distribute;
          justify-content: space-around; } }

.button-button {
  background: #ffffff;
  border-width: 3px;
  border-style: solid;
  border-color: #073C5E;
  padding: 10px 0;
  margin: 40px 0 0;
  -webkit-transition: 250ms ease-out all;
  transition: 250ms ease-out all; }
  .button-button:hover, .button-button:active {
    background-color: #F47621;
    color: #ffffff;
    border-color: #F47621; }
  @media screen and (min-width: 768px) {
    .button-button {
      padding: 10px; } }
  @media screen and (min-width: 1024px) {
    .button-button {
      padding: 20px; } }

.skew {
  position: absolute; }
  .skew-bottom-blue, .skew-bottom-orange {
    -webkit-transform: skew(30deg, 0);
            transform: skew(30deg, 0); }
  .skew-bottom-blue {
    background-color: #073C5E;
    width: calc( 100% + 8px); }
    .h1 .skew-bottom-blue {
      bottom: -33px;
      left: 4px;
      height: 30px; }
    .h2 .skew-bottom-blue {
      height: 18px;
      bottom: -21px;
      left: 4px;
      width: calc( 100% + 4px); }
  .skew-bottom-orange {
    background-color: #F47621;
    bottom: -19px;
    left: 1px;
    width: calc( 100% + 7px);
    height: 16px; }
    @media (-webkit-min-device-pixel-ration: 2) {
      .skew-bottom-orange {
        width: calc( 100% + 4px); } }
  .skew-right-side-white, .skew-right-side-blue {
    -webkit-transform: skew(0, 60deg);
            transform: skew(0, 60deg); }
  .skew-right-side-white {
    background-color: #ffffff;
    right: -23px;
    top: 14px; }
    .h1 .skew-right-side-white {
      right: -21px;
      top: 13px;
      width: 18px;
      height: calc(100% + 5px); }
    .h2 .skew-right-side-white {
      width: 11px;
      height: calc(100% + 6px);
      right: -13px;
      top: 6px; }
  .skew-right-side-blue {
    background-color: #073C5E;
    right: -12px;
    top: 5px;
    height: calc(100% + 6px);
    width: 9px; }

.light-blue-box {
  background-color: rgba(7, 60, 94, 0.15);
  position: absolute;
  width: 75%;
  height: 250px;
  bottom: 0;
  left: 0; }
  @media screen and (min-width: 768px) {
    .light-blue-box {
      height: 350px; } }
  @media screen and (min-width: 1024px) {
    .light-blue-box {
      height: 350px; } }
/*# sourceMappingURL=styles.css.map */